# ===========================================================================
# PROJECT ENVIRONMENT SETUP: explore.cmake-presets/.envrc
# ===========================================================================
# SHELL: bash (or similiar)
# SEE ALSO:   https://direnv.net/
# REPOSITORY: https://github.com/direnv/direnv
# USAGE:
#   source .envrc
#
#   # -- BETTER: Use direnv (requires: Setup in bash / HOME/.bashrc)
#   # eval "$(direnv hook bash)"
#   direnv allow .
# ===========================================================================
# direnv_version <version_at_least>

source_env_if_exists .envrc.use_venv
path_add PATH "bin"
if has cmake; then
    echo "FOUND: $(cmake --version)"
fi
